@import "bootstrap.css";

div{
    padding: 50px;
    width: 100%;
    background-color: aliceblue;
}
body{
  border: 2px; 
  border-style: solid;
}
.videoContainer{
  position:absolute;
  height:100%;
  overflow: hidden;
}

iframe.video{
  position: absolute;
  width:92.5%;
  height:100%;
}