@import "bootstrap.css";

div{
    padding: 50px;
    border: 10px; 
    width: 100%;
}
.core{
    border-style: solid;
    background-color: aliceblue;
}
.videoContainer
{
  position:absolute;
  height:100%;
  overflow: hidden;
  padding-top:56.25%;
}

iframe.video
{
  position:absolute;
  width:92.5%;
  height:100%;
}