/* main.css */
body {
  font-family: "Arial", Arial, Helvetica, sans-serif;
}

div {
  background-color: lightblue;
  border-style: groove;
}
p {
    text-align: center;
  }

p.normal {
    font-style: normal;
  }
  
p.italic {
    font-style: italic;
  }
  
p.oblique {
    font-style: oblique;
  }